<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdminMapper">
    <select id="selectAdminByID" resultType="entity.Admin" parameterType="String">
        select ID, name, password
        from admin
        where id = #{ID}
    </select>
    <select id="selectAdmin" resultType="entity.Admin">
        SELECT ID, name, password
        FROM admin
        WHERE ID LIKE CONCAT('%', #{ID}, '%')
          AND name LIKE CONCAT('%', #{name}, '%')
    </select>
    <select id="numberOfAdmin" resultType="int">
        select COUNT(1)
        FROM admin
        WHERE ID LIKE CONCAT('%', #{ID}, '%')
          AND name LIKE CONCAT('%', #{name}, '%')
    </select>
    <insert id="addAdmin" parameterType="entity.Admin">
        INSERT INTO admin(ID, name, password)
        VALUES (#{ID}, #{name}, #{password})
    </insert>
    <delete id="deleteAdmin" parameterType="String">
        DELETE
        FROM admin
        WHERE ID = #{ID}
    </delete>
    <update id="updateAdmin" parameterType="entity.Admin">
        UPDATE admin
        SET name=#{name},
            password=#{password}
        WHERE ID = #{ID}
    </update>
    <update id="changePassword">
        UPDATE admin
        SET password=#{password}
        WHERE ID = #{ID}
    </update>
</mapper>