<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BorrowingLogMapper">
    <select id="select" resultType="entity.BorrowingBookInformation" parameterType="String">
        SELECT *
        FROM borrowing_log
                 INNER JOIN book
        WHERE id = #{ID}
          AND borrowing_log.ISBN = book.ISBN
    </select>
    <select id="borrowNumber" resultType="int" parameterType="String">
        SELECT count(1)
        FROM borrowing_log
                 INNER JOIN book
        WHERE id = #{ID}
          AND borrowing_log.ISBN = book.ISBN
    </select>
    <insert id="logging" parameterType="entity.BorrowedBook">
        INSERT INTO borrowing_log(ID, ISBN, borrowingDate, returnDate)
        VALUES (#{ID}, #{ISBN}, #{borrowingDate}, #{returnDate})
    </insert>
</mapper>