<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
    <select id="selectStudentByID" resultType="entity.Student" parameterType="String">
        select *
        from student
        where id = #{ID}
    </select>
    <select id="selectStudent" resultType="entity.Student">
        SELECT *
        FROM student
        WHERE ID LIKE CONCAT('%', #{student.ID}, '%')
        AND name LIKE CONCAT('%', #{student.name}, '%')
        <if test="sexCheck">
            AND sex =#{student.sex}
        </if>
        AND department LIKE CONCAT('%', #{student.department}, '%')
        AND grade LIKE CONCAT('%', #{student.grade}, '%')
    </select>
    <select id="numberOfStudent" resultType="int">
        select COUNT(1)
        FROM student
        WHERE ID LIKE CONCAT('%', #{student.ID}, '%')
        AND name LIKE CONCAT('%', #{student.name}, '%')
        <if test="sexCheck">
            AND sex =#{student.sex}
        </if>
        AND department LIKE CONCAT('%', #{student.department}, '%')
        AND grade LIKE CONCAT('%', #{student.grade}, '%')
    </select>
    <insert id="addStudent" parameterType="entity.Student">
        INSERT INTO student(ID, name, password, sex, department, grade)
        VALUES (#{ID}, #{name}, #{password}, #{sex}, #{department}, #{grade})
    </insert>
    <update id="updateStudent" parameterType="entity.Student">
        UPDATE student
        SET name=#{name},
            password=#{password},
            sex=#{sex},
            department=#{department},
            grade=#{grade}
        where ID = #{ID}
    </update>
    <delete id="deleteStudent" parameterType="String">
        DELETE
        FROM student
        WHERE ID = #{ID}
    </delete>
    <select id="numberOfAllStudent" resultType="int">
        select COUNT(1)
        FROM student
    </select>

    <update id="updateBookNumber">
        UPDATE student SET
        <if test="borrow">
            booknumber=booknumber-#{number}
        </if>
        <if test="!borrow">
            booknumber=booknumber+#{number}
        </if>
        WHERE ID=#{ID}
    </update>
    <update id="changePassword">
        UPDATE student
        SET password=#{password}
        WHERE ID = #{ID}
    </update>
</mapper>